html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #4f6d7a;
  /* cursor: url("../assets/gastly.png"), auto; */
}
.cool-header {
  padding: 10px;
  background-color: #f8f8f8;
  border: none;
  border-left: 3px solid #ff0000a1;
}

/* listagem de links */
ul {
  list-style-type: none;
}
ul li {
  padding: 15px;
}
ul li a {
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
}
ul li a:link,
ul li a:visited {
  color: #82ffb1;
}

button {
  padding: 14px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  cursor: pointer;
}

/* 10. Glass effect */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 700px;
  height: 500px;
  background-image: url("../assets/wallpaper1.jpg");
  background-size: cover;
  background-position: center;
}
.glass-effect {
  width: 350px;
  height: 250px;
  font-size: 48px;
  color: #ffffff;
  background-color: #ffffff10;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* 11. Text portrait */
.text-portrait {
  /* max-width: 25%; */
  text-align: justify;
  background-image: url("../assets/doggo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(225, 225, 225, 0);
}

/* 12. Accent color & Caret color */
.accent {
  width: 20px;
  height: 20px;
  accent-color: #0ba263;
}
input[type="text"] {
  font-size: 20px;
  caret-color: #ff0000a1;
}

/* 13. upload de imgs com preview e com fileReader */
input[type="file"] {
  font-size: 17px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffffa1;
  border-radius: 10px;
  color: #82ffb1;
}

input[type="file"]:hover {
  cursor: pointer;
}

/* 14. Resize Div */
.resize {
  width: 300px;
  padding: 20px;
  border: 2px solid;
  resize: both;
  overflow: auto;
}

/* 15. Cool btn hover */
.btn-hover-me {
  min-width: 200px;
  padding: 12px 20px;
  margin: 10px;
  position: relative;
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  transition: color 0.5s linear;
}
.btn-hover-me:hover {
  color: #fff;
}
.btn-hover-me::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
  transform-origin: 0 0;
}
.btn1::before {
  transform: scaleX(0);
}
.btn1:hover::before {
  transform: scaleX(1);
}
.btn2::before {
  transform: scaleY(0);
}
.btn2:hover::before {
  transform: scaleY(1);
}

/* 16. Custom checkbox */
.container-custom-checkbox {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-custom-checkbox {
  width: 100px;
  height: 50px;
  position: relative;
  background-color: #d2d2d2;
  border-radius: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.button-custom-checkbox::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 50px;
  margin: 5px;
  transition: 0.3s;
}
[data-input="input-custom-checkbox"]:checked + .button-custom-checkbox {
  background-color: #20096d;
}
[data-input="input-custom-checkbox"]:checked + .button-custom-checkbox::before {
  transform: translateX(50px);
}
[data-input="input-custom-checkbox"] {
  display: none;
}

/* 18 */
[data-button="to-top"] {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: white;
  background-color: #0ba263;
  opacity: 0.9;
  cursor: pointer;
  font-size: 1rem;
  z-index: 99;
}
[data-button="to-top"]:hover {
  opacity: 1;
}

/* 19 */
.container-input {
  border: 5px solid #fff;
  max-width: 320px;
}
.input-box {
  display: flex;
  justify-content: space-between;
  border-width: 0 0 3px 0;
  border-style: solid;
  background-color: #fff;
}

.input-box input {
  font-size: 18px;
  width: 100%;
  border: none;
  outline: none;
  caret-color: #000;
}

.input-box img {
  width: 25px;
  margin: 5px;
}

/* 21 */
.container-card-estilizado {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
}

.container-card-estilizado::before {
  content: "";
  width: 150px;
  height: 600px;
  position: absolute;
  left: 75px;
  top: -100px;
  background: linear-gradient(#00e5ff, #b400fb);
  animation: animate 2s linear infinite;
}

.container-card-estilizado::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #1e1e1e;
  border-radius: 20px;
}

.container-card-estilizado span {
  color: #fff;
  font-size: 10em;
  font-weight: bold;
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 22 */
.container-relogio{
  height: 170px;
}
#relogio {
  display: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 3em;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 6px;
}
.showTimer {
  display: inline-block !important;
}

/* 23 */
.container-grid-random-numbers{
  padding: 10px;
  width: 50%;
}
.container-grid-random-numbers input {
  display: block;
  padding: 12px 30px;
  font-size: 22px;
}
.container-grid-random-numbers button {
  width: 100%;
}
.container-grid-random-numbers span {
  margin: 15px;
  font-size: 2rem;
}