body {
  /* cursor: url("../assets/gastly.png"), auto; */
  font-family: "Montserrat", sans-serif;
  background-color: #4f6d7a;
}
.cool-header {
  padding: 10px;
  background-color: #f8f8f8;
  border: none;
  border-left: 2px solid #ff0000a1;
}

button {
  border-radius: 3px;
  padding: 14px;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  cursor: pointer;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  min-height: 100vh;
  background-image: url("../assets/wallpaper1.jpg");
  background-size: cover;
  background-position: center;
}
.glass-effect {
  font-size: 48px;
  width: 700px;
  height: 500px;
  background-color: #ffffff10;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: #ffffff;
  border-radius: 25px;
}

.text-portrait {
  max-width: 25%;
  text-align: justify;
  background-image: url("../assets/doggo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(225, 225, 225, 0);
}

.accent {
  accent-color: #0ba263;
  width: 20px;
  height: 20px;
}
input[type="text"] {
  caret-color: #ff0000a1;
  font-size: 30px;
}

input[type="file"] {
  font-size: 17px;
  border: 1px solid #ffffffa1;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  color: #82FFB1;
}

input[type="file"]:hover {
  cursor: pointer;
}

.resize {
  border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: both;
  overflow: auto;
}
