html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #4f6d7a;
  /* cursor: url("../assets/gastly.png"), auto; */
}
.cool-header {
  padding: 10px;
  background-color: #f8f8f8;
  border: none;
  border-left: 3px solid #ff0000a1;
}

/* listagem de links */
ul {
  list-style-type: none;
}
ul li {
  padding: 15px;
}
ul li a {
  display: block;
  font-size: 1.3rem;
  text-decoration: none;
}
ul li a:link,
ul li a:visited {
  color: #82ffb1;
}

button {
  padding: 14px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}
button:hover {
  cursor: pointer;
}

/* 10. Glass effect */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  width: 700px; 
  height: 500px;
  background-image: url("../assets/wallpaper1.jpg");
  background-size: cover;
  background-position: center;
}
.glass-effect {
  width: 350px;
  height: 250px;
  font-size: 48px;
  color: #ffffff;
  background-color: #ffffff10;
  border-radius: 25px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* 11. Text portrait */
.text-portrait {
  /* max-width: 25%; */
  text-align: justify;
  background-image: url("../assets/doggo2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(225, 225, 225, 0);
}

/* 12. Accent color & Caret color */
.accent {
  width: 20px;
  height: 20px;
  accent-color: #0ba263;
}
input[type="text"] {
  font-size: 30px;
  caret-color: #ff0000a1;
}

/* 13. upload de imgs com preview e com fileReader */
input[type="file"] {
  font-size: 17px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffffa1;
  border-radius: 10px;
  color: #82ffb1;
}

input[type="file"]:hover {
  cursor: pointer;
}

/* 14. Resize Div */
.resize {
  width: 300px;
  padding: 20px;
  border: 2px solid;
  resize: both;
  overflow: auto;
}

/* 15. Cool btn hover */
.btn-hover-me {
  min-width: 200px;
  padding: 12px 20px;
  margin: 10px;
  position: relative;
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  transition: color 0.5s linear;
}
.btn-hover-me:hover {
  color: #fff;
}
.btn-hover-me::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: -1;
  transition: transform 0.5s;
  /* transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7); */
  transform-origin: 0 0;
}
.btn1::before {
  transform: scaleX(0);
}
.btn1:hover::before {
  transform: scaleX(1);
}
.btn2::before {
  transform: scaleY(0);
}
.btn2:hover::before {
  transform: scaleY(1);
}

/* 16. Custom checkbox */
.container-custom-checkbox {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-custom-checkbox {
  width: 100px;
  height: 50px;
  position: relative;
  background-color: #d2d2d2;
  border-radius: 50px;
  cursor: pointer;
}
.button-custom-checkbox::before {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #fff;
  border-radius: 50px;
  margin: 5px;
  transition: 0.3s;
}
[data-input="input-custom-checkbox"]:checked + .button-custom-checkbox {
  background-color: #20096d;
}
[data-input="input-custom-checkbox"]:checked + .button-custom-checkbox::before {
  transform: translateX(50px);
}
[data-input="input-custom-checkbox"] {
  display: none;
}
